<div id="details" class="basic-1">
        <div class="container">
          <div class="text-container">
		<h2 class="h2-heading text-center">FOLLOW US @ PETSMONT</h2>
          </div>
          {% comment %}
            <div class="row">
                <div class="col-lg-4 col-xl-4">
                    
                        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow1.png?v=1629186803" alt="alternative">
                    
                </div> <!-- end of col -->
                <div class="col-lg-4 col-xl-4">
                  <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow2.png?v=1629186820" alt="alternative">

</div>
                     
				<div class="col-lg-4 col-xl-4">
				
				<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow3.png?v=1629186834" alt="alternative"></div>
            </div>
<br>
<div class="row">
                <div class="col-lg-4 col-xl-4">
                    
                        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow4.png?v=1629186857" alt="alternative">
                    
                </div> <!-- end of col -->
                <div class="col-lg-4 col-xl-4">
                  <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow5.png?v=1629186881" alt="alternative">

</div>
                     
				<div class="col-lg-4 col-xl-4">
				
				<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/follow6.png?v=1629186899" alt="alternative"></div>
            </div>			<!-- end of row -->
        </div> <!-- end of container -->
		<div class="dog-img-3">
	<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/home9.png?v=1629186919" alt="alternative">
	</div>
{% endcomment %}
    </div>
{% schema %}
  {
    "name": "instagram",
    "settings": [],
	"presets": [
      {
        "name": "Home Instagram",
        "category": "Home Instagram"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
