
    <div id="details" class="basic-1 gap_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/pro-1.png?v=1629810986" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5 col-xl-5">
                    <div class="text-container">
                        <div class="section-title">

</div>
                      <h2>IMMUNE SUPPORT</h2>
                      <h6><strong>Mushroom Supplement</strong></h6>
						<div class="orng-line"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0284/2391/3547/files/abt-2.png?v=1629182673" alt="alternative"></div>
                        <p>From our family farm to your family’s furbabies, our organic mushroom supplement will help your cat or dog feel better naturally. From reducing itchiness to supporting liver and kidney functions and more – your pet will thank you for putting their health first. 
</p>
                        <a class="btn-solid-reg" href="#">ADD TO CART</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
	
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
